@model Application

<!DOCTYPE html>

<html>
<head>
    <title>Enter Movie</title>
</head>
<body>
<div>
    <form asp-action="EnterMovie" method="post">

        <label>Category</label>
        <input asp-for="Category" />
        <span asp-validation-for="Category"></span>

        <br />

        <label>Title</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>

        <br />

        <label>Year</label>
        <input asp-for="Year" type="number" />
        <span asp-validation-for="Year"></span>

        <br />

        <label>Director</label>
        <input asp-for="Director" />
        <span asp-validation-for="Director"></span>

        <br />

        <label>Rating</label>
        <select asp-for="Rating">
            <option value="">Select Rating</option>
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
        </select>
        <span asp-validation-for="Rating"></span>

        <br />

        <label>Edited</label>
        <select asp-for="Edited">
            <option value="">Select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <br />

        <label>Lent To</label>
        <input asp-for="LentTo" />

        <br />

        <label>Notes</label>
        <input asp-for="Notes" maxlength="25" />

        <br /><br />

        <button type="submit">Add Movie</button>

    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
</body>
</html>