@{
    ViewData["Title"] = "GettoKnowJoel";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    
    <!-- Link to QW Comedy -->
    <p><a href="https://www.qwcomedy.com/">Visit QW Comedy</a></p>

    <!-- Link to Baconsale -->
    <p><a href="https://baconsale.com/">Visit Baconsale</a></p>

    <!-- Image that links to Baconsale -->
    <p>
        <a href="https://baconsale.com/">
            <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Image" style="max-width: 100%; height: auto;">
        </a>
    </p>
</div>