@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" alt="joel"/>
</div>

<div class="text-center">
    <br/>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-info">View Movie List</a>
</div>